* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 132, 255, 0.759);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 900px;
    width: 100%;
}


#title {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

header {
    margin-bottom: 20px;
    text-align: center;
}

input {
    margin-top: 30px;
    padding: 10px;
    border-radius: 20px 0 0 20px;
    border: none;
    width: 60%;
    max-width: 300px;
    outline: none;
}

button {
    background-color: #ff9800;
    border: 0;
    margin-left: -5px;
    padding: 10px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

button:hover {
    background-color: #f57c00;
}

section {
    border-radius: 10px;
    padding: 20px 20px 0px 20px;
    width: 100vw;
}

#today {
    display: none;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    width: 80%;
    border-radius: 10px;
    padding: 30px;
    margin: auto;
    
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#today:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.25);
}

#current-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

#current-info img {
    width: 100px;
}

#temperature {
    font-weight: bold;
    font-size: 2.5rem;
    margin-left: 20px;
}

#description {
    font-size: 1.3rem;
    margin-top: 10px;
}

#details {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

#otherDays {
    display: none;
    justify-content: center;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    flex-wrap: wrap;
    width: 50vw;
    margin: auto;
}

#div-days {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#div-days:hover {
    /* efeito flutuante ao passar o mouse */
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

#others-temp {
    margin: 10px 10px 0px 10px;
}


